<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.debug.rhino.ui.launch.config.type">
<stringAttribute key="ecmaversion" value="170"/>
<booleanAttribute key="logexceptions" value="true"/>
<intAttribute key="optlevel" value="-1"/>
<booleanAttribute key="strictmode" value="false"/>
</launchConfiguration>
